.dqwz{
	font-size:14px;
	font-family:"微软雅黑";

}
.dqwz span a{
        font-size:14px;
	font-family:"微软雅黑";

}

body{background:#fafafa;}
.xmjs_nr{width:1200px;margin:0 auto;}

.xmjsxx{width:1200px;margin:0 auto; background:#fff; margin-top:20px;}
.bzhjs{width:1200px;margin:0 auto; background:#fff; margin-top:20px;}
.cyhxm{width:1200px;margin:0 auto; background:#fff; margin-top:20px;}
.jsjh{width:1200px;margin:20px auto; background:#fff; }